body{

color:#F0F8FF;
background-color:#A9F5A9;
background-image: url(http://www.fond-ecran.net/fonds/pac_man_001.jpg);
background-repeat:;
max-width: 100%;
height: auto; 
background-size:cover;

}

#navcol	{
	width:130px;
	float:left;
}

table#tableau {
  color: #F0F8FF;
  font-family: arial;
  font-size: 11px;
  color: #333333;
  border-width: 1px;
  border-color: #F0F8FF;
  border-collapse: collapse;
  text-align: center;
  width:100px; 
  height:100px;
}

table#tableau th {
  color: #F0F8FF;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #F0F8FF;
  background-color: ;
  width:80px; 
  height:60px;
}
table#tableau td {
  color:#F0F8FF;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #F0F8FF;
  background-color: ;
  width:80px; 
  height:60px;
}

#titre{ 
font-style : italic;
text-align: center;
border-bottom:1px dashed ##F0F8FF;
color: #00FFFF;
 }

#titre2{
color: #F0F8FF;
  
}


#des{ 
color:#FF00FF;


}

#proj{
border-bottom:1px dashed #8B4513;
 font color=withe; 	
}
#liens{
	text-align: center;
	background : black; 
}

    
    
